/*
    https://html-css-js.com/css/generator/font/
*/


table {
    border:1px solid #7f8287;
    background-color: darkslategray;
    
    
  }
  td {
    border:1px solid #7f8287;
    background-color: darkslategray;
    color: #7f8287;
    font-family:courier;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    
  }
  th {
    border:1px solid #7f8287;
    background-color: darkslategray;
    color: #7f8287;
    font: bold;
    font-family:verdana;
    text-align:center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }
  
  body{
      background-color: #1f2021;
  
  }
  h1{
      color: #7f8287;
      
  }
  h2{
    color: #7f8287;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
  h3{
    color: #7f8287;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
  p{
      color: #7f8287;
  }
  a{
      color: #7f8287;
  }
  textarea{
      border:1px solid #7f8287;
    background-color: darkslategray;
    color: #7f8287;
    font-family:courier;

    
  }
  img{
      border: 0px;
      max-width: 100%;
      max-height: 100%;
      height: auto;
      border-radius: 8px;
  }

  .working{
    border: 0px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
  }
  
  .text {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 20px;
    letter-spacing: 0.6px;
    word-spacing: 2px;
    color: #BEBEBE;
    font-weight: normal;
    text-decoration: none;
    font-style: oblique;
    font-variant: small-caps;
    text-transform: capitalize;
    max-width: 95%;
  }

  .logo{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 35px;
    letter-spacing: 0.6px;
    word-spacing: 2px;
    color: #7f8287;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: capitalize;
  }

  .code {
    /*
    background: #f4f4f4;
    */
    background: #4c4f4d;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #BEBEBE;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 95%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
    text-align: left;
}

