@import url(http://fonts.googleapis.com/css?family=Seaweed+Script);
@import url(http://fonts.googleapis.com/css?family=Arvo:700);

table {
    border:1px solid #7f8287;
    background-color: darkslategray;
    
    
  }
  td {
    border:1px solid #7f8287;
    background-color: darkslategray;
    color: #7f8287;
    font-family:courier;
    
  }
  th {
    border:1px solid #7f8287;
    background-color: darkslategray;
    color: #7f8287;
    font: bold;
    font-family:verdana;
    text-align:center;
  }
  body{
      background-color: #1f2021;
  
  }
  h1{
      color: #7f8287;
      
  }
  h2{
    color: #7f8287;
}
  h3{
    color: #7f8287;
}
  p{
      color: #7f8287;
  }
  a{
      color: #7f8287;
  }
  textarea{
      border:1px solid #7f8287;
    background-color: darkslategray;
    color: #7f8287;
    font-family:courier;
    
  }
  img{
      border: 0px;
      max-width: 100%;
      max-height: 100%;
  }
  .shadow {
    color: #fff;
    font-family: Arvo;
    font-weight: bold;
    text-shadow:
      -3px -3px 0 #222,
      3px -3px 0 #222,
      -3px 3px 0 #222,
      3px 3px 0 #222,
      4px 4px 0 #fff,
      5px 5px 0 #fff,
      6px 6px 0 #fff,
      7px 7px 0 #fff;
    line-height: 0.8em;
    letter-spacing: 0.1em;
    transform: scaleY(0.7);
    -webkit-transform: scaleY(0.7);
    -moz-transform: scaleY(0.7);
    margin:0;
    text-align: center;
    font-size:300%;
  }